/* styles.css (or your preferred CSS file) */

.book-card {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    display: flex;
     flex-wrap: wrap;
}

.book-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.book-card h3 {
    font-size: 18px;
    margin: 0;
    color: #333;
}
